.sousuo{
	width: 70%;
	margin: 1rem auto;
}
.sousuo div{
	width: 25%;
	float: right;
	background:url(images/sousuo.png) no-repeat;
	background-size: 100%;
}
.sousuo span{
	border-right:none;
	background:none;
}
.sousuo input{
	border-left:none;
	background:url(images/sousuo.png) no-repeat;
	background-size: 100%;
}
.zhuangjia h1{
	text-align: center;
}
.ZJ_width{
	width:70%;
	margin: 0 auto;
}
.ZJ_width ul{
	width:90%;
	margin: 2rem 0;
}
.ZJ_width .width li{
	width:18%;
	border:1px solid #cccccc;
	margin-left: -1px;
	margin-top: -1px;
	text-align: center;
	line-height: 2rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.ZJ_width ul li.ZJ_border{
	border-bottom: none;
}
.jigoulist{
	margin-top: 3rem;
}
#div img{
	padding-left: 0;
}
#div h4{
	margin-top: 0;
	font-size: 1.4rem;
	/*font-weight: bold;*/
}